{{ define "main" }}
{{ $data := site.Data.tx.data }}

<div class="tx2-main tx-explorer-wrapper">
    <div class="tx-explorer">

        <div class="tx-explorer-details">
            {{ $current := index $data 2 }}
            {{ $issued := index $data 3 }}
            {{ $owners := first 5 (after 4 $data) }}
            <div class="tx-explorer-id">
                coin %{{ $current.S2 }}
            </div>
            <div class="tx-explorer-qr-img">
                {{ $qr := resources.Get "app/qr.svg" }}
                {{ $qr.Content | safeHTML }}
            </div>
            <div class="tx-explorer-qr-details">
                <h2>4231</h2>
                <div class="by">
                    <div class="by-photo">
                        {{ $u := resources.Get "svg/user.svg" }}
                        {{ $u.Content | safeHTML }}
                    </div>
                    <div class="by-details">
                        <div class="on">
                            Issued on {{ $issued.date | dateFormat "Jan 02, 2006 3:04 PM" }} 
                            by
                        </div>
                        <div class="by-name">{{$issued.from}} </div>
                        <div class="by-uid">@{{$issued.S1}} </div>
                    </div>
                </div>
                <div class="by">
                    <div class="by-photo">
                        {{ $u.Content | safeHTML }}
                    </div>
                    <div class="by-details">
                        <div class="on">
                            Currently owned by
                        </div>
                        <div class="by-name">{{$current.from}} </div>
                        <div class="by-uid">@{{$current.S1}} </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tx-explorer-list">
            <div class="tx-table-wrapper">
                <table class="tx2-table">
          
                    <tr>
                        <th></th>
                        <th>Transaction</th>
                        <th>Date</th>
                        <th>New Owner</th>
                    </tr>
                    {{ range first 10 $data }}
                    <tr>
                        <td class="path">
                            <span>
                            </span>
                        </td>
                        <td class="w1" title="@{{.S1}}">%{{ .S1 }}</td>
                        <td>{{ .date | dateFormat "Jan 02, 2006 3:04 PM" }}</td>
                        <td class="w1" title="@{{.S2}}">
                            <span class="">{{ .to }}</span>
                            <span class="s2">@{{ .S2}}</span>
                        </td>
                    </tr>
                    {{ end }}
          
                </table>
            </div>
        </div>
    </div>

</div>



{{ end }}
