{{ define "tx2h" }} &nbsp; {{ end }}
{{ define "main" }}
{{ $data := site.Data.tx.data }}
<div class="tx">
    <div class="toptx">
        <div class="title-wrapper">
            {{ partial "apptest/title.html" . }}
            <div class="spacer"></div>
            <div class="themetoggle">
                {{ partial "apptest/light-dark-toggle.html" . }}
            </div>
        </div>
        
        
        {{ partial "apptest/nav.html" . }}
    </div>
    <div class="tx-main">
        <div class="tx-settings">
            <div class="tx-settings-icon">
                {{ $s := resources.Get "svg/settings.svg" }}
                <div class="settings-svg">
                    {{ $s.Content | safeHTML }}
                </div>
            </div>
        </div>
        <div class="tx-table-wrapper">
            <table>
                <tr>
                    <th>Tx</th>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
                {{ range $data }}
                <tr>
                    <td  title="@{{.S1}}">%{{ .S1 }}</td>
                    <td>{{ .date | dateFormat "Jan 02, 2006 3:04 PM" }}</td>
                    <td class="w1"  title="@{{.S2}}">
                        <span class="">{{ .from }}</span>
                        <span class="s2">@{{ .S2}}</span>
                    </td>
                    <td class="w1" title="@{{.S2}}">
                        <span class="">{{ .to }}</span>
                        <span class="s2">@{{ .S2}}</span>
                    </td>
                    <td class="number">{{ .debit }}</td>
                    <td class="number">{{ .credit }}</td>
                </tr>
                {{ end }}
            </tbody>
            </table>
        </div>
    </div>
</div>

{{ end }}
{{ define "tx2f" }}&nbsp; {{ end }}
