<div class="txnav">
    <div class="txnav-item">
        <a href="/apptest/tx2/">Transactions</a>

    </div>
    <div class="txnav-item">
        <a href="/apptest/inventory/">Inventory</a>
    </div>
    <div class="txnav-item">
        Coin Explorer
    </div>
    <div class="txnav-item">
        Global Economy
    </div>
    <div class="txnav-item spacer">
    </div>
    <div class="txnav-item usernav">
        <div class="user-info">
            <div class="user-info-text">
                <div class="user-info-name">McKenzie-Satterfield</div>
                <div class="user-info-id" title="@80e045d6164b6cffbbd4b0fa5c944f8e5083889d">
                    @80e045d6164b6cffbbd4b0fa5c944f8e5083889d</div>
            </div>
            <div class="user-info-icon">
                {{ $u := resources.Get "svg/user.svg" }}
                <div class="user-svg">{{ $u.Content | safeHTML }}</div>
            </div>
        </div>
    </div>
</div>
