<div class="form-wrapper">
    <h3>Issue new Credit</h3>
    <form>
        <div class="form-item">
        <label for="name">Account to issue new credit to: </label>
        <input id="name" name="name" required="" type="text" value="Wolf, Bednar and Hettinger" />
        <div class="name-id">@4cff841918a5d14e84c29afbffbb25d4a13beead</div>
        </div>

        <div class="form-item">
        <label for="amount">Value: </label>
        <input id="amount" name="amount" required="" type="number" value="12500" />
        </div>

        <div class="form-item form-submit" >
            <button id="send">Send</button>
        </div>

        <div class="form-item">
            <div class="form-status">
                <span class="coin-amount">10000 sent to </span>
                <span class="recipient-id">@4cff841918a5d14e84c29afbffbb25d4a13beead </span>
                <span class="coin-label">as coin </span>
            <span class="coin-id">%01a1fab9ab418108b4091082f1a081e7b834e812</span>
            </div>
        </div>
        
    </form>
</div>
