.app-test {

    .tx {
        
        display: flex;
        flex-direction: column;
        max-width: 1600px;
        margin: 100px auto;
        overflow: auto;
        border: 1px solid rgba(0,0,0, 0.25);
    }
    
    .tx-main {
        display: flex;
        flex-direction: row;
        max-height: 700px;
    }
    .tx-settings {
        flex: 0 0 auto;
        width: 80px;
        box-shadow: 0 10px 0px 0 rgba(0, 0, 0, 0.15);
        background-color: rgba(0,0,0,0.15);
        padding: 10px 0;
        //border: 1px solid red;
        position: sticky;
    }
    
    
    
    
    

    
    
    
    
    

}