.inventory {

    .tx2-wrapper {
        
        .tx2-body-wrapper {
    
        }
        .tx2-body {
            
            .tx2-main {
                top: 20px;
                display: flex;
                //border: 1px solid rgba(0,0,0, 0.25);
                //display: none;
                //border: 15px solid hotpink;
                //margin-top: 50px;
                position: relative;
                flex-direction: column;
                flex-wrap: nowrap;
                width: min-content;
                //margin-top: 80px;;
                height: auto;
    
                .tx-table-wrapper {
                    //border: 5px solid green;
                    height: auto;
                    justify-self: start;
                    table.tx2-table {
                        min-height: calc(100vh - 500px);
                        max-height: 100vh;;
                        height: fit-content;
                    }

                }
                .tx-newcredit {
                    //border-top: 1px solid $blue;
                    box-shadow: -10px 0px 10px 0 rgba(0, 0, 0, 0.15);

                    .form-wrapper {
                        //border: 1px solid blue;
                        padding: 32px;
                        display: flex;
                        flex-direction: column;
                        .form-item {
                            //border: 1px solid violet;
                            display: flex;
                            flex-direction: row;
                            margin: 12px 0;
                            max-width: 500px;
                            flex-wrap: wrap;
                            padding: 8px 0;
                            label {
                                width: 100%;
                            }
                            input {
                                width: 100%;
                                padding: 8px 0;
                                border: 0px;
                                font-size: 120%;
                                margin-bottom: 8px;
                                border-bottom: 2px solid $blue;
                                text-align: right;
                                background-color: unset;
                            }
                            .name-id {
                                width: 100%;
                                font-size: 90%;;
                                text-align: right;
                                //border: 1px solid cyan
                            }
                            .form-status {
                                
                                span {
                                    display: block;
                                    //border: 1px solid cyan;
                                }

                            } 

                            button {
                                width: 100%;;
                            }
                        }
                    }
                }
            }
        }
    }
}