.theme__light {
    button#toggleToLight{
        display: none;
    }
    button#toggleToDark{
        display: block;
    }
    .tx2-top {
        background-color: #EBEBEB;
    }
    .logo-svg-icon {
        background-color: #EBEBEB;
    }
    .title {
        color: $dark1
    }
}

.theme__dark {
    background-color: $dark1;
    color: $light;
    button#toggleToDark{
        display: none;
    }
    button#toggleToLight{
        display: block;
    }
    
    .tx2-top {
        background-color: $dark4;
    }

    .logo-svg svg {
        fill:rgba($light, 0.5)
    }
    .logo-svg-icon {
        background-color: $dark4;
    }

    input {
        color: $white
    }
    button {
        background-color: rgba($blue, 0.5);
        color: $white
    }
    .title {
        color: $light
    }
}

button#toggleToLight{
    background-color: rgba($dark1, 0.5);
    color: $white;
}

button#toggleToDark{
    background-color: rgba($light, 0.5);
    color: $dark2;
}