

nav.breadcrumb > ol > li:nth-child(2) > a {
    color: #e260a1;
}

nav.breadcrumb > ol > li:nth-child(3) > span {
    color: #00BCD4;
}

.home__landing {
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.home__landing--txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__landing  .home__landing--link {
    z-index: 200;
}

.drawer {
    z-index: 500;
}

main {
    background-image:   radial-gradient(circle, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0.6) 95%),
                        url('/images/green-lights.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


.header__wrapper.bgcolor__header {
    background-image:   radial-gradient(circle, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0.6) 95%),
                            url('/images/green-lights.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


img.navbar__logo {
    height:30px;
    width: auto;
}