$dark1: #282a36;
$dark2: #44475a;
$dark3: #383a59;
$light: #f8f8f2;
$blue: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;
$sig: #00a5fc;

$title03: 'Space Mono';

body {
  zoom: 90%;
}

.home__landing {
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 50px);

  position: relative;
  background-color: rgba($dark1, 0.4);
  //border: 10px solid red;
  button.button {
    z-index: 200;
    position: relative;
    background-color: rgba($cyan, 0.5);
    border-radius: 1em;
    padding: 0.5em 1em !important;
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .home__landing {
    justify-content: flex-start;
    //border: 1px solid yellow;
    padding-top: 5em;
  }
  .home__landing--txt {
    //margin-bottom: 10em;
  }
}

.theme__light .home__landing {
  background-color: rgba($light, 0.4);
  .home__landing--txt .text {
    color: $dark1;
  }
}

.toc {
  //border: 1px solid green;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0;
  overflow: hidden;
  .toc-media {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-color: #30323f;
  }
  .toc-vid {
  }
  #sideimg {
    width: 100%;
    min-height: 200px;
  }
  video {
    //height: 100%;
    object-fit: cover;
  }
  .toc__body {
    padding: 0 1.5em;
  }
}

.theme__light {
  .toc .toc-media {
    background-color: #f7f8f9;
  }
}
.hero-video-wrapper {
  //border: 1px solid orange;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 00;
}
video#hero-video {
  //border: 1px solid cyan;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  //z-index: 1000;
}

.bot {
  z-index: 200;
}

.home__landing--txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__landing .home__landing--link {
  //z-index: 200;
}

.drawer {
  z-index: 500;
}

main {
  /* background-image:   radial-gradient(circle, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0.6) 95%),
                        url('/images/mesh.jpg');
    */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header__wrapper.bgcolor__header {
  display: none;
  /* background-image:   radial-gradient(circle, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0.6) 95%),
                            url('/images/mesh.jpg');
    */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav,
.navbar-wrapper,
.navbar-collapse,
#navMenuMobile {
  z-index: 300;
  //border: 1px solid cyan;
}
img.navbar__logo {
  height: 30px;
  width: auto;
}

// .theme__dark #list-main {background-color:lightblack}

.list-section {
  margin: 1rem;
}

@media only screen and (min-width: 601px) {
  .hide-desktop {
    display: none;
  }

  .show-desktop {
    display: block;
  }
}

@media only screen and (max-width: 769px) {
  .divider {
  }

  .mid > .divider {
    grid-template-columns: minmax(0, 769px);
    //border: 1px solid blue;

    .l {
      display: none;
    }

    .m {
      grid-area: 1/1/-1/-1;
    }
  }
}

@media only screen and (min-width: 600px) {
  .mid > .divider {
    //border: 1px solid red;
    grid-template-columns: minmax(200px, 240px) minmax(350px, 769px) minmax(
        240px,
        320px
      );
    .m {
      grid-area: 1/2/2/-1;
    }
  }
}

.switch.switch__rel {
  display: none;
}
@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }

  .navbar.lmr {
    //border: 1px solid blue;
    padding-left: 0;
  }

  .menu ul li {
    //border: 1px solid red;
    padding: 0.5em 0;
  }
}

/** Fixes overflow on firefox **/
.search .input {
  min-width: 0;
}

.button-wrapper {
  //border: 1px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    margin: 30px auto;
    background: $sig;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    transition: all 0.3s;
    font-size: 18px;
    font-weight: 400;

    //font-family: $title03;
    //font-weight:700;
    letter-spacing: 2pt;
  }
}

// mobile drawers
.theme__dark .drawer {
  background-color: $dark1;
}

.theme__dark .drawer__header {
  background-color: $dark1;
  a {
    //color: $cyan;
    font-family: $title03;
    font-size: 85%;
    //font-weight: bold;
  }
}

/** Breadcrumbs **/
nav.breadcrumb {
  z-index: 100;
  //border: 1px solid pink;
}

nav.nav {
  z-index: 400;
}

.mid .divider:not(.home) {
  &::before {
    content: ' ';
    position: absolute;
    //border: 5px solid yellow;
    height: 100%;
    width: 100%;
    //background-color: pink;
    //background: url('/svg/a/2.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 800px;
    background-attachment: fixed;
    opacity: 15%;
  }
}

/** Navbar **/

.navbar__dropdown--title {
  margin: 0 !important;
  //border: 1px solid red;
}

/** image shortcode **/
.theme__light {
  .imgdark {
    display: none;
  }
}

.theme__dark {
  .imglight {
    display: none;
  }
}
.menu__label {
  font-size: 1.5rem;
}

.menu__title {
  height: auto;
  margin: 1em 0;
}

.light-dark-img {
  // border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
  align-items: center;
  div {
    // border: 1px solid red;
    img {
      // border: 1px solid yellow;
      width: 80%;
    }
  }
  .img-caption {
    flex: 1 0 30%;
    // min-width: 20em;
    max-width: 30em;

    p {
      margin: auto;
      margin-top: 1em;
      display: block;
      font-size: 80%;
      //font-weight: bold;
    }
  }
}
@media only screen and (max-width: 600px) {
  .light-dark-img {
    flex-direction: column;
  }
}

.single__contents {
  margin: 1.5em 0 1rem 0;

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    //border: 1px solid red;
    margin-top: 0em;
  }
}

/***
** Vega styles
**
*/

.vega-wrapper {
// border: 1px solid red; 
  display: flex;
  flex-direction: row;
  align-items: center;
}

#view,
#view-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  margin: 2em;
}
#view2 canvas.marks,
#view svg.marks {
  /* border: 1px solid blue; */
  width: 100%;
  height: 20em;
  justify-self: stretch;
  //width: 700px;
  //flex: 1 0;
}

#view .vega-bindings::after {
  //flex: 1 1 100%;
  //border: 1px solid blue;
  
  margin-top: 1.5em;
  font-weight: bold;
  line-height: 1.2em;
      font-size: 20px;
      height: 5em;
  width: 100%;
  display:block;
  content: 'The Sigchain network graph shows accounts and transactions between them.';
}

@media only screen and (max-width: 500px) {
  #view {
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    margin: 1em;
    //height: 400px;
    /* border: 1px solid red; */
  }
  #view form.vega-bindings {
    flex: 0 1 100%;
    margin-bottom: 0;
  }
  #view form.vega-bindings .vega-bind {
    display: none;
  }
  #view form.vega-bindings::after {
    //border: 1px solid cyan;
    height: 5em;
  }
}

#view-bar {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  //  border: 1px solid green;
  height: 35em;
  svg {
    //   border: 1px solid cyan;
      width: 100%;
      height: 100%;
  }
  .vega-bindings {
    flex: 1 0 10em;
    justify-self: stretch;
    width: 100%;
    .vega-bind {
      align-items: center;
      /* border: 1px solid red; */
      label {
        margin: 0.5em auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        input {
          margin: 0 1em;
        }
      }
    }
    .vega-bind:nth-child(2) {
      border: 1px solid cyan;
      display: none;
    }

    &::after {
      //flex: 1 1 100%;
      // border: 1px solid blue;
      font-size: 20px;
      margin-top: 1.5em;
      font-weight: bold;
      line-height: 1.2em;
      height: 1em;
      width: 100%;
      display:block;
      content: 'This is the bar chart caption. The Sigchain network graph shows accounts and transactions between them.';
    }
  }
}

@media only screen and (max-width: 500px) {
  #view-bar {
    max-width: 100%;
    height: 25em;
    // border: 1px solid pink;
    flex-direction: column;
    .vega-bindings {
    border: 1px solid green;
    height: 0;
    margin: 0;
    padding: 0;
    
    .vega-bind {
      display: none;
    }
    }

  }
}


.single__contents .content-card-list {
  // border: 1px solid red;
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 1px solid blue;
    padding: 0 1.5em;
    li {
      list-style: none;
      // border: 1px solid red;
      flex: 1 0 calc(50% - 1em);
      margin: .5em .5em;
      padding: 0;
      border-radius: 8px;
      border-top: 2px solid $sig;
      box-shadow: 0px 20px 80px -20px rgba($dark2, .25);
      box-shadow: 0px 15px 40px -25px rgba(0,0,0,0.8);
      padding: 0px;

      display: flex;
      flex-direction: row;

      background-color: white;
      transition: .25s;
      align-items: center;
      &:hover {
        box-shadow: 0px 15px 40px -18px rgba(0,0,0,0.8);
        transition: .25s;
      }
      
      p {
        flex: 1 0 ;
        // border: 1px solid green;
        margin-left: 0.5em;
      }
      img {
        width: 100px;
        height: 100px;
        flex: 0 1 auto;
        //height: auto;
        // border: 1px solid red;
        border-radius: 8px;
        padding: 0;
        //margin: 0 auto;
        background-color: white;
        display: flex;
      }
    }
  }
}

.theme__dark {
  .single__contents .content-card-list ul li {
    background-color: rgba(#353846, 1);
    //box-shadow: 0px 20px 80px -20px rgba(#353846, .5);

  }
}