
$blue : #00a5fc;
$cyan : #8be9fd;
$dark1 : #282a36;
$dark2 : #44475a;
$sig: #00a5fc;


body.theme__dark { background: $dark1; }
form { 
    max-width:400px; 
    margin:20px auto; 
    //border: 1px solid red;
    .hidden {
        display: none;
    }
}

.form-container {
  padding: 20px;

}
.content-container {
    max-width:420px; 
    margin:50px auto; 
    //border: 1px solid $cyan;
}
.feedback-input {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid $blue;
  transition: all 0.3s;
  padding: 8px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid $cyan; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}
$title03: "Space Mono" ;

[type="submit"] {
  //font-family: $title03;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  width: 100%;
  background:$blue;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size: 16px;
  padding-top:6px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:400;
  //letter-spacing: 2pt;;
}
[type="submit"]:hover { background:$dark2; }


body.theme__light {
.feedback-input {

  color:$dark1;
}
}

body.theme__dark {
.feedback-input {

  color:#ffffff;
}
}
.vega-bindings {
  //max-width: 200px;
  // border: 1px solid pink;
  margin: 0;
  font-size: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 20em;
  display: flex;
  margin-right: .5em;
  flex-direction: row;
  .vega-bind {
  //  border: 1px solid red; 
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    margin: .25em 0;
  }
  .vega-bind label {
    // border: 1px solid green;
    width: 100%;
    display: flex;
    flex-direction: row;
    span:last-child {
      // border: 1px solid cyan;
      width: 2.5em;
      text-align: right;
      margin: 0 .25em;
    }
  }
  .vega-bind-name {
    display: flex;
    // border: 1px solid yellow;
    //width: 50px;
    flex: 1 0 7em;
}
input[type=range] {
  //width: 100%;
  flex: 1 0 auto;
  margin: 10.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #e0e0e0;
  border: 0;
  width: 100%;
  height: 6px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -10.5px;
  width: 10px;
  height: 27px;
  background: rgba(0, 165, 252, 0.93);
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ededed;
}
input[type=range]::-moz-range-track {
  background: #e0e0e0;
  border: 0;
  width: 100%;
  height: 6px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 27px;
  background: rgba(0, 165, 252, 0.93);
  border: 0;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.5px 0;
  color: transparent;
  width: 100%;
  height: 6px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #d3d3d3;
  border: 0;
}
input[type=range]::-ms-fill-upper {
  background: #e0e0e0;
  border: 0;
}
input[type=range]::-ms-thumb {
  width: 10px;
  height: 27px;
  background: rgba(0, 165, 252, 0.93);
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #e0e0e0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ededed;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

}