
<script src="https://vega.github.io/vega/vega.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

<style>

  .vega-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .chart-titlex {
    /* border: 1px solid orange; */
    font-size: 110%;
    font-weight: bold;
  }
  
#view, #view2 {
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    flex-direction: row;
    /* 
    */
    justify-content: stretch;
    align-items: center; 
    margin-bottom: 1em;
    
}
  #view2 canvas.marks,
  #view canvas.marks {
      /* border: 1px solid blue; */
      width: 100%;
      height: 20em;
      justify-self: stretch;
      //width: 700px;
      //flex: 1 0;
      
  }
  .vega-bindings {
    //max-width: 200px;
    /* border: 1px solid pink; */
    flex: 0 0 auto;
    margin: 0;
    //margin: auto ;  
    font-size: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
  }
  .vega-bindings .vega-bind {
    /* border: 1px solid red; */
    flex: 1 0 auto;
  }
  .vega-bindings::after {
    flex: 0 1 100%;
    /* border: 1px solid blue; */
    font-size: 150%;;
    margin-top: 1.5em;
    font-weight: bold;;
    content: "The Sigchain network graph shows accounts and transactions between them."
  }
  #view2 {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* border: 1px solid green; */
  }
  #view2 canvas.marks {
    /* border: 1px solid hotpink; */
    flex: 1;
    width: 500px;
  }
  #view2 .vega-bindings {
    display: none;
  }

  @media only screen and (max-width: 500px) {
    #view {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }
  #view form.vega-bindings {
    border: 1px solid red;
    display: none;
  }
}
</style>

<div class="vega-wrapper">
  <div id="view"></div>
  <!-- <div class="chart-title">
    <p>The Sigchain network graph shows accounts and transactions between them.</p>
  </div> -->
</div>

<div id="view2"></div>

<script>
  vegaEmbed(
    '#view',
    '/vega.json',
    {"actions": false}
  );
</script>

{{/* $fv := resources.Get "app/js/graphs/fv.js" | resources.ExecuteAsTemplate "fv.js" . */}}
<script src="{{/*  $fv.Permalink */}}"></script>


<script>
let nodecount = 150;
let groupcount = 6;
let nodes = [];
let vmax = 10;
edgecount = 480;
edges = [];
edgeMx = [];

for( let i = 0; i< nodecount; i++){
    nodes.push({
        name: (i.toString().padStart(4,'0')),
        group: Math.floor(Math.random() * (groupcount)),
        index: i
    });
}

console.log(JSON.stringify(nodes))

function onlyUnique(value, index, self) {
    return self.indexOf(value) === index;
}

// for(let i=0; i<edgecount; i++) {
//     let n1 = (Math.floor(Math.random() * (nodecount - 1)));
//     let n2 = (Math.floor(Math.random() * (nodecount - 1)));
//     if( n1 != n2 ) {
//       edgeMx.push([nodes[n1]['index'], nodes[n2]['index']])
//     }
// }

for( let i=0; i < nodecount; i++) {
    let n1 = Math.max(Math.floor(Math.random() * 5), 1 );
    
    for( let j=0; j < n1; j++) {
      let n2 = (Math.floor(Math.random() * (nodecount - 1)));
      if( i != n2 ) {
        edgeMx.push([nodes[i]['index'], nodes[n2]['index']])
      }
  }

}

edgeMx = edgeMx.filter(onlyUnique);
console.log('edgeMx')
console.log(edgeMx)

for( let i=0; i<edgeMx.length; i++){
    edges.push({
        source: edgeMx[i][0],
        target: edgeMx[i][1],
        value: (Math.max(1,(Math.floor(Math.random() * vmax))))
    })
}

let vdata = {
  nodes: nodes,
  links: edges
}
//console.log('edges', JSON.stringify(edges))
  // vegaEmbed(
  //   '#view2',
  //   '/vega2.json',
  //   {"actions": false}
  //   );
  </script>

