
<script src="https://vega.github.io/vega/vega.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

<style>
</style>

<div class="vega-wrapper">
  <div id="view"></div>
</div>

<div class="vega-wrapper">
  <div id="view-bar"></div>
</div>

<script>
  vegaEmbed(
    '#view',
    '/vega.json',
    {"actions": false,
    "renderer":"svg"
    }
  );
</script>
<script>
  vegaEmbed(
    '#view-bar',
    '/vega-bar.json',

    {"actions": false,
    "renderer":"svg"
    }
  );
</script>
